@font-face {
    font-family: "Source Serif 4";
    src: url("/SourceSerif4.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

:root {
    --off-white: rgb(252, 252, 252);
    --off-black: rgb(25, 25, 25);
    --light-grey: rgb(200, 200, 200)
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

body {
    background-color: var(--off-white);
    min-height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main {
    flex-grow: 1;
    width: 92%;
    max-width: 80ch;
    margin: 0 auto;
    padding-bottom: 2rem;
}

* {
    color: var(--off-black);
    font-family: "Source Serif 4", Georgia, Cambria, "Times New Roman", Times, serif;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

p,
li {
    line-height: 1.6;
    font-size: 1.33rem;
    letter-spacing: -0.001em;
    margin-top: 1rem;
    margin-bottom: 0;
}


.icon {
    display: inline;
}

img {
    display: block;
    width: 100%;
    max-width: 90%;
    height: auto;
    margin: 20px auto;
}




/* Navbar */
#hero {
    margin: 4px;
}

#hero a {
    font-size: 1.66rem;
    font-weight: bold;
    text-decoration: none;
    padding-right: 16px;
}

nav ul {
    list-style-type: none;
}

nav li {
    display: inline-block;
}

nav a {
    text-decoration: none;
}

nav {
    display: flex;
    align-items: center;
    border-bottom: solid 1px var(--light-grey);
    padding-left: 4%;
    padding-right: 4%;
    margin-bottom: 16px;
}

footer {
    border-top: solid 1px var(--light-grey);
    padding-left: 4%;
    padding-right: 4%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50rem;
}


#source-link {
    font-size: small;
}

/* Icons */
.icon {
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 12px;
    margin-bottom: 12px;
}

#social-media-icons a {
    text-decoration: none;
}

.grow-on-hover {
    transition: transform 0.05s ease;
}

.grow-on-hover:hover {
    transform: scale(1.075);
}

.grow-on-hover:active {
    transform: scale(0.975);
}

.navbar-active {
    border-bottom: solid 1px var(--off-black);
}